rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow read access to the sliders collection for authenticated users
    match /sliders/{document=**} {
      allow read: if request.auth != null;
    }

    // Allow read access to the orders collection only for admin users
    match /orders/{document=**} {
      allow read: if isAdmin();
    }

    // Allow read access to the inventory collection for authenticated users
    match /inventory/{document=**} {
      allow read: if request.auth != null;
    }

    // Allow read access to the users collection only for admin users
    match /users/{document=**} {
      allow read: if isAdmin();
    }

    // Function to check if the user is an admin
    function isAdmin() {
      // Ensure the user is authenticated
      return request.auth != null &&
             // Retrieve the user's document
             exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
             // Check if the role is ADMIN
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ["ADMIN", "OWNER"];
    }
  }
}
